<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white"><a routerLink="/"></a>{{title}}</h4>
        <p class="text-muted">Score trending electronics, fashion must-haves, accessories, and more at incredibly low prices! Download Oction now – for free! Everyone’s a winner on Oction. Watch our intro video to learn how this new shopping experience works!</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/oction.co/" target="_blank" class="text-white">Follow on Twitter</a></li>
          <li><a href="https://facebook.com/oction.co/" target="_blank" class="text-white">Like on Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <!--<a href="#" class="navbar-brand">{{title}}</a>-->
    <a routerLink="/"><img src="assets/images/oction-alt-white-1.png" alt="{{title}}" style="height: 35px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
